*, :after, :before {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    color: $font-dark;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;

    @media (max-width: $laptop-portrait - 1) {
        font-size: 1.6rem;
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

a {
    text-decoration: none;
    color: $font-light;
    transition: color ease-in-out 0.2s;

    &:hover, &:focus {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0 0 5px 0;

    &:empty {
        display: none;
    }
}

input,
button, {
    font-family: inherit;
}

h1,
h2,
h3,
.bold {
    margin: 0 0 15px;
    font-weight: 600;
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 3.6rem;

    @media (max-width: $laptop-portrait - 1) {
        font-size: 2.4rem;
    }
}

h3 {
    font-size: 2rem;
}

.title {
    @extend h2;
}

img {
    width: 100%;
    height: 100%;
    object-position: center;
}

.contain {
    object-fit: contain;
}

.cover {
    object-fit: cover;
}

.line-break {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    word-break: keep-all;
    display: -webkit-box;
}

.background {
    background-repeat: no-repeat;
    background-position: center;
}

.bg-contain {
    @extend .background;
    background-size: contain;
}

.bg-cover {
    @extend .background;
    background-size: cover;
}

.logo {
    @extend .contain;
}

@media (max-width: $laptop-portrait) {
    #wpadminbar {
        display: none;
    }
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;

    @media (max-width: $laptop-portrait - 1) {
        padding: 0 20px;
    }
}

.section {
    padding: 100px 0;
    position: relative;

    @media (max-width: $laptop-portrait - 1) {
        padding: 50px 0;
    }
}

.main {
    flex-grow: 1;
}

.pointer {
    cursor: pointer;
}

.btn {
    display: inline-block;
    background-color: $color-btn;
    color: $font-light;
    font-size: 1.8rem;
    font-weight: 600;
    min-width: 216px;
    text-align: center;
    padding: 10px;
    position: relative;
    border: none;
    cursor: pointer;
    transition: background-color ease-in-out 0.2s;

    @media (min-width: $laptop-landscape + 1) {
        &:hover, &:focus {
            outline: none;
            text-decoration: none;
            color: $font-light;
            background-color: $color-btn-hover;
        }
    }

    @media (max-width: $laptop-portrait - 1) {
        max-width: 100%;
        min-width: 100%;
    }
}

.btn-arrow {
    padding: 10px 35px 10px 10px;

    &:before {
        content: '';
        position: absolute;
        right: 15px;
        top: calc(50% - 10px);
        width: 20px;
        height: 20px;
        background: url('../../assets/img/btn-arrow.svg');
        @extend .background;
    }
}

.arrow-down {
    width: 60px;
    height: 60px;
    background-color: $color-main;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: calc(50% - 7px);
        left: calc(50% - 7px);
        width: 14px;
        height: 14px;
        display: inline-block;
    }
}

.no-scroll {
    overflow: hidden;
}

.d-f {
    display: flex;
    align-items: center;
}

.d-f-center {
    @extend .d-f;
    justify-content: center;
}

.d-f-column {
    @extend .d-f;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col,
.col-6,
.col-4,
.col-3,
.col-md,
.col-md-6,
.col-md-4,
.col-md-3,
.col-sm,
.col-sm-6,
.col-sm-4,
.col-sm-3,
.col-lg,
.col-lg-6,
.col-lg-4,
.col-lg-3 {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
}

.col-6 {
    max-width: 50%
}

.col-4 {
    max-width: calc(100% / 3)
}

.col-3 {
    max-width: 25%
}

@media(min-width: 567px) {
    .col-sm-6 {
        max-width: 50%
    }
    .col-sm-4 {
        max-width: calc(100% / 3)
    }
    .col-sm-3 {
        max-width: 25%
    }
}

@media(min-width: 769px) {
    .col-md-6 {
        max-width: 50%
    }
    .col-md-4 {
        max-width: calc(100% / 3)
    }
    .col-md-3 {
        max-width: 25%
    }
}

@media(min-width: 1200px) {
    .col-lg-6 {
        max-width: 50%
    }
    .col-lg-4 {
        max-width: calc(100% / 3)
    }
    .col-lg-3 {
        max-width: 25%
    }
}

@media (max-width: $laptop-portrait - 1) {
    .intro__top_btn, .cta__btn, .why-dy__btn {
        width: 100%;
    }
}